profiles {

    sge {

        withLabel: long_process {
            process{
                beforeScript = 'source /etc/profile;'
                executor = 'sge'
                cpus = '1'
                memory = '1 GB'
                penv = 'smp'
                queue = 'all.q'

            }



            executor {
                queueSize = 12
                }
        }
    }
}